.slidecontainer {
  width: 50%;
}

.slider {
  -webkit-appearance: none;
  width: 40%;
  height: 20px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%; 
  background: #007bff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  background: #007bff;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .slider {
      width: 70%;
      margin-left: 15px;
    }
  }

